<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
</head>
<body>

<h1>Displays Rooms</h1>
<table border="1">
    <thead>
    <tr>
        <th>Room Number</th>
        <th>Number of Row</th>
        <th>Bench Per Row</th>
        <th>Bench Capacity</th>
        <th>Total Capacity</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
     <a th:href="@{/rooms/addNew}" >Add New Room</a>
    <tr th:each="room: ${rooms}" >
        <td th:text="${room.roomNo}"></td>
        <td th:text="${room.noOfRow}"></td>
        <td th:text="${room.benchPerRow}"></td>
        <td th:text="${room.benchCapacity}"></td>

        <td
            th:text="${room.getbenchCapacity()*room.getNoOfRow()*room.getBenchPerRow()}"></td>
            <td>
             <a role="button" th:href="@{'/rooms/edit/'+${room.roomNo}}">EDIT</a>
                <a role="button" th:href="@{'/rooms/remove/' + ${room.roomNo}}">Delete</a>
            </td>
    </tr>
    </tbody>
</table>
</body>
</html>
